#!/usr/bin/env bash

set -e

harborVersion={{ harborVersion }}

{%- raw %}
{{- $nodeRole := index (split (getv "/host/role") "_node") 0 }}
cat > /opt/app/bin/.env << APP_ENV_FILE
NODE_ROLE={{ $nodeRole }}
export HARBOR_VERSION=$harborVersion

{{- range getvs "/host/role" | filter "web|job" }}
{{ range getvs "/hosts/storage_node/*/ip" }}STORAGE_NODE_IP={{ . }}{{ end }}
{{- end }}
APP_ENV_FILE
{%- endraw %}

