version: 0.1
log:
  level: debug
  fields:
    service: registry

storage:
{{- if gt (len (ls "/hosts/storage_node")) 0 }}
{{- range getvs "/hosts/storage_node/*/token" }}
{{- $token := json . }}
    s3:
        accesskey: {{ $token.accessKey }}
        secretkey: {{ $token.secretKey }}
        bucket: harbor
        region: default
        regionendpoint: http://{{ range getvs "/hosts/storage_node/*/ip" }}{{ . }}{{ end }}
        rootdirectory: registry-root
{{- end }}
{{- else }}
    qs:
        accesskey: {{getv "/env/QS_ACCESS"}}
        secretkey: {{getv "/env/QS_SECRET"}}
        bucket: {{getv "/env/QS_BUCKET"}}
        zone: {{getv "/env/QS_ZONE"}}
        rootdirectory: {{getv "/env/QS_ROOT_DIRECTORY" "registry"}}
{{- end }}
    cache:
        layerinfo: redis
    maintenance:
        uploadpurging:
            enabled: false
        readonly:
          enabled: {{getv "/env/REGISTRY_READONLY" "false"}}
    delete:
        enabled: true
http:
    addr: :5000
    secret: placeholder
    debug:
        addr: localhost:5001
auth:
  token:
    issuer: harbor-token-issuer
    realm: {{getv "/env/HARBOR_HOST"}}/service/token
    rootcertbundle: /etc/registry/root.crt
    service: harbor-registry

notifications:
  endpoints:
      - name: harbor
        disabled: false
        url: http://ui/service/notifications
        timeout: 3000ms
        threshold: 5
        backoff: 1s
redis:
    addr: redis:6379
    pool:
      maxidle: 16
      maxactive: 64
      idletimeout: 300s
    dialtimeout: 10ms
    readtimeout: 10ms
    writetimeout: 10ms

