{{- if eq $nodeRole "web" }}
nodeId=1
{{- if eq $nodeRole "web" }}
{{- range getvs "/hosts/web_node/*/sid" }}
{{- if gt (getv "/host/sid") . }}nodeId=$(($nodeId + 1)){{- end }}
{{- end }}
{{- end }}
{{- end }}

cat > /opt/app/bin/.env << APP_ENV_FILE
NODE_ROLE={{ $nodeRole }}

{{- if eq $nodeRole "web" }}
ORDERED_NODE_ID=$nodeId
{{- end }}

{{- range getvs "/host/role" | filter "web|job" }}
{{ range getvs "/hosts/storage_node/*/ip" }}STORAGE_NODE_IP={{ . }}{{ end }}
{{- end }}
APP_ENV_FILE
