{{- range getvs "/host/role" | filter "web|job" }}

encrypted=$(echo -n {{ getv "/cluster/cluster_id" }}{{ getv "/cluster/global_uuid" }} | sha256sum | base64)
coreSecret=${encrypted:0:16}
jobSecret=${encrypted:16:16}
encrypted=$(echo -n {{ getv "/cluster/user_id" }}{{ getv "/cluster/global_uuid" }} | sha256sum | base64)
redisPassword=${encrypted:0:16}
dbPassword=${encrypted:16:16}

cat > /opt/app/conf/adminserver/env << ADMINSERVER_ENV_FILE
ADMIRAL_URL=NA
AUTH_MODE=db_auth
CFG_EXPIRATION=5
CHART_REPOSITORY_URL=http://chartmuseum:9999
CLAIR_DB=postgres
CLAIR_DB_HOST=postgresql
CLAIR_DB_PASSWORD=$dbPassword
CLAIR_DB_PORT=5432
CLAIR_DB_SSLMODE=disable
CLAIR_DB_USERNAME=postgres
CLAIR_URL=http://clair:6060
CORE_SECRET=$coreSecret
CORE_URL=http://core:8080
DATABASE_TYPE=postgresql
EMAIL_FROM=admin <sample_admin@mydomain.com>
EMAIL_HOST=smtp.mydomain.com
EMAIL_IDENTITY=
EMAIL_INSECURE=false
EMAIL_PORT=25
EMAIL_PWD=abc
EMAIL_SSL=false
EMAIL_USR=sample_admin@mydomain.com
EXT_ENDPOINT={{ getv "/env/HARBOR_HOST" }}
HARBOR_ADMIN_PASSWORD=Harbor12345
JOBSERVICE_SECRET=$jobSecret
JOBSERVICE_URL=http://jobservice:8080
LDAP_BASE_DN=ou=people,dc=mydomain,dc=com
LDAP_FILTER=
LDAP_GROUP_ADMIN_DN=
LDAP_GROUP_BASEDN=ou=group,dc=mydomain,dc=com
LDAP_GROUP_FILTER=objectclass=group
LDAP_GROUP_GID=cn
LDAP_GROUP_SCOPE=2
LDAP_SCOPE=2
LDAP_SEARCH_DN=
LDAP_SEARCH_PWD=
LDAP_TIMEOUT=5
LDAP_UID=uid
LDAP_URL=ldaps://ldap.mydomain.com
LDAP_VERIFY_CERT=true
LOG_LEVEL=info
MAX_JOB_WORKERS=10
NOTARY_URL=http://notary-server:4443
PORT=8080
POSTGRESQL_DATABASE=registry
POSTGRESQL_HOST=postgresql
POSTGRESQL_PASSWORD=$dbPassword
POSTGRESQL_PORT=5432
POSTGRESQL_SSLMODE=disable
POSTGRESQL_USERNAME=postgres
PROJECT_CREATION_RESTRICTION=everyone
READ_ONLY=false
REGISTRY_CONTROLLER_URL=http://registryctl:8080
REGISTRY_STORAGE_PROVIDER_NAME={{ if len (ls "/hosts/storage_node") }}filesystem{{ else }}s3{{ end }}
REGISTRY_URL=http://registry:5000
RELOAD_KEY=
RESET=false
SELF_REGISTRATION=on
SKIP_RELOAD_ENV_PATTERN=$^
TOKEN_EXPIRATION=30
TOKEN_SERVICE_URL=http://core:8080/service/token
UAA_CLIENTID=id
UAA_CLIENTSECRET=secret
UAA_ENDPOINT=uaa.mydomain.org
UAA_VERIFY_CERT=true
WITH_CHARTMUSEUM=True
WITH_CLAIR=False
WITH_NOTARY=False
ADMINSERVER_ENV_FILE
{{- end }}
