{{- range getvs "/host/role" | filter "web|job" }}

encrypted=$(echo -n {{ getv "/cluster/cluster_id" }}{{ getv "/cluster/global_uuid" }} | sha256sum | base64)
coreSecret=${encrypted:0:16}
jobSecret=${encrypted:16:16}
encrypted=$(echo -n {{ getv "/cluster/user_id" }}{{ getv "/cluster/global_uuid" }} | sha256sum | base64)
redisPassword=${encrypted:0:16}

cat > /opt/app/conf/core/env << CORE_ENV_FILE
ADMINSERVER_URL=http://adminserver:8080
CHART_CACHE_DRIVER=redis
CONFIG_PATH=/etc/core/app.conf
CORE_SECRET=$coreSecret
JOBSERVICE_SECRET=$jobSecret
LOG_LEVEL=info
SYNC_REGISTRY=false
UAA_CA_ROOT=/etc/core/certificates/uaa_ca.pem
_REDIS_URL=redis:6379,100,$redisPassword
_REDIS_URL_REG=redis://anonymous:${redisPassword}@redis:6379/1
CORE_ENV_FILE
{{- end }}
