{{- range getvs "/host/role" | filter "web|job" }}

encrypted=$(echo -n {{ getv "/cluster/cluster_id" }}{{ getv "/cluster/global_uuid" }} | sha256sum | base64)
coreSecret=${encrypted:0:16}
jobSecret=${encrypted:16:16}

cat > /opt/app/conf/registryctl/env << REGISTRYCTL_ENV_FILE
CORE_SECRET=$coreSecret
JOBSERVICE_SECRET=$jobSecret
REGISTRYCTL_ENV_FILE
{{- end }}
