{{- if eq $nodeRole "job" }}

encrypted=$(echo -n {{ getv "/cluster/cluster_id" }}{{ getv "/cluster/global_uuid" }} | sha256sum | base64)
coreSecret=${encrypted:0:16}
jobSecret=${encrypted:16:16}

cat > /opt/app/conf/jobservice/env << JOBSERVICE_ENV_FILE
CORE_SECRET=$coreSecret
CORE_URL=http://core:8080
JOBSERVICE_SECRET=$jobSecret
JOBSERVICE_ENV_FILE
{{- end }}
