{{- if eq $nodeRole "cache" }}
encrypted=$(echo -n {{ getv "/cluster/user_id" }}{{ getv "/cluster/global_uuid" }} | sha256sum | base64)
redisPassword=${encrypted:0:16}

sed -i -r "s/^(requirepass).*$/\1 $redisPassword/g" /opt/app/conf/redis/redis.conf
{{- end }}
