{
  "name": {{cluster.name}},
  "description": {{cluster.description}},
  "upgrade_policy": [
    "appv-l0d1tgn2",
    "appv-tkc5qnwg",
    "appv-z7hy8rjy",
    "appv-lqqfiy30",
    "appv-p3qbt6y6",
    "appv-utedkwla"
  ],
  "vxnet": {{cluster.vxnet}},
  "nodes": [{
    "role": "log_node",
    "container": {
      "type": "kvm",
      "zone": "pek3a",
      "image": "img-q2u7z3da"
    },
    "instance_class": {{cluster.log_node.instance_class}},
    "count": 1,
    "cpu": {{cluster.log_node.cpu}},
    "memory": {{cluster.log_node.memory}},
    "volume": {
      "size": {{cluster.log_node.volume_size}},
      "mount_point": "/var/log/harbor",
      "mount_options": "defaults,noatime",
      "filesystem": "ext4",
      "class": {{cluster.log_node.volume_class}}
    },
    "user_access": false,
    "services": {
      "init": {
        "cmd": "appctl init"
      },
      "start": {
        "order": 1,
        "cmd": "appctl start"
      },
      "stop": {
        "order": 4,
        "cmd": "appctl stop"
      },
      "restart": {
        "order": 1,
        "cmd": "appctl restart"
      },
      "upgrade": {
        "order": 1,
        "cmd": "appctl upgrade"
      }, 
      "run_command": {
        "type": "custom",
        "cmd": "appctl cleanJobLogs",
        "timeout": 1200,
        "service_params": {
          "timeOfCleanUp": {{service_params.cleanUpFlag}}
        }
      }
    },
    "env": {
      "web.console.enabled": {{env.web.console.enabled}},
      "web.console.username": {{env.web.console.username}},
      "web.console.password": {{env.web.console.password}}
    }
  }, {
    "role": "storage_node",
    "container": {
      "type": "kvm",
      "zone": "pek3a",
      "image": "img-q2u7z3da"
    },
    "instance_class": {{cluster.storage_node.instance_class}},
    "count": {{cluster.storage_node.count}},
    "cpu": {{cluster.storage_node.cpu}},
    "memory": {{cluster.storage_node.memory}},
    "volume": {
      "size": {{cluster.storage_node.volume_size}},
      "mount_point": "/data/registry",
      "mount_options": "defaults,noatime",
      "filesystem": "ext4",
      "class": {{cluster.storage_node.volume_class}}
    },
    "user_access": false,
    "services": {
      "init": {
        "cmd": "appctl init"
      },
      "start": {
        "order": 2,
        "cmd": "appctl start"
      },
      "stop": {
        "order": 3,
        "cmd": "appctl stop"
      },
      "restart": {
        "order": 2,
        "cmd": "appctl restart"
      },
      "upgrade": {
        "order": 2,
        "cmd": "appctl upgrade"
      }
    }
  }, {
    "role": "db_node",
    "container": {
      "type": "kvm",
      "zone": "pek3a",
      "image": "img-q2u7z3da"
    },
    "instance_class": {{cluster.db_node.instance_class}},
    "count": 1,
    "cpu": {{cluster.db_node.cpu}},
    "memory": {{cluster.db_node.memory}},
    "volume": {
      "size": {{cluster.db_node.volume_size}},
      "mount_point": "/data/database",
      "mount_options": "defaults,noatime",
      "filesystem": "ext4",
      "class": {{cluster.db_node.volume_class}}
    },
    "user_access": false,
    "services": {
      "init": {
        "cmd": "appctl init"
      },
      "start": {
        "order": 2,
        "cmd": "appctl start"
      },
      "stop": {
        "order": 3,
        "cmd": "appctl stop"
      },
      "restart": {
        "order": 2,
        "cmd": "appctl restart"
      },
      "upgrade": {
        "order": 2,
        "cmd": "appctl upgrade",
        "timeout": 86400
      },
      "run_command": {
        "type": "custom",
        "cmd": "appctl resetAdminPwd",
        "timeout": 1200,
        "service_params": {
          "pwd": {{service_params.newAdminPwd}}
        }
      }
    }
  }, {
    "role": "cache_node",
    "container": {
      "type": "kvm",
      "zone": "pek3a",
      "image": "img-q2u7z3da"
    },
    "instance_class": {{cluster.cache_node.instance_class}},
    "count": 1,
    "cpu": {{cluster.cache_node.cpu}},
    "memory": {{cluster.cache_node.memory}},
    "user_access": false,
    "services": {
      "init": {
        "cmd": "appctl init"
      },
      "start": {
        "order": 2,
        "cmd": "appctl start"
      },
      "stop": {
        "order": 3,
        "cmd": "appctl stop"
      },
      "restart": {
        "order": 2,
        "cmd": "appctl restart"
      },
      "upgrade": {
        "order": 2,
        "cmd": "appctl upgrade"
      }
    }
  }, {
    "role": "web_node",
    "container": {
      "type": "kvm",
      "zone": "pek3a",
      "image": "img-q2u7z3da"
    },
    "instance_class": {{cluster.web_node.instance_class}},
    "count": {{cluster.web_node.count}},
    "cpu": {{cluster.web_node.cpu}},
    "memory": {{cluster.web_node.memory}},
    "loadbalancer": {{cluster.web_node.loadbalancer}},
    "advanced_actions": ["scale_horizontal"],
    "user_access": false,
    "services": {
      "init": {
        "cmd": "appctl init"
      },
      "start": {
        "order": 3,
        "cmd": "appctl start"
      },
      "stop": {
        "order": 2,
        "cmd": "appctl stop"
      },
      "restart": {
        "order": 3,
        "cmd": "appctl restart"
      },
      "upgrade": {
        "order": 3,
        "cmd": "appctl upgrade"
      }
    },
    "env": {
      "HARBOR_HOST": {{env.HARBOR_HOST}},
      "QS_ACCESS": {{env.QS_ACCESS}},
      "QS_SECRET": {{env.QS_SECRET}},
      "QS_BUCKET": {{env.QS_BUCKET}},
      "QS_ZONE": {{env.QS_ZONE}},
      "QS_URL": {{env.QS_URL}},
      "s3.url.used": {{env.s3.url.used}},
      "QS_ROOT_DIRECTORY": {{env.QS_ROOT_DIRECTORY}}
    }
  }, {
    "role": "job_node",
    "container": {
      "type": "kvm",
      "zone": "pek3a",
      "image": "img-q2u7z3da"
    },
    "instance_class": {{cluster.job_node.instance_class}},
    "count": {{cluster.job_node.count}},
    "cpu": {{cluster.job_node.cpu}},
    "memory": {{cluster.job_node.memory}},
    "advanced_actions": ["scale_horizontal"],
    "user_access": false,
    "services": {
      "init": {
        "cmd": "appctl init"
      },
      "start": {
        "order": 4,
        "cmd": "appctl start"
      },
      "stop": {
        "order": 1,
        "cmd": "appctl stop"
      },
      "restart": {
        "order": 4,
        "cmd": "appctl restart"
      },
      "upgrade": {
        "order": 4,
        "cmd": "appctl upgrade"
      }
    },
    "env": {
      "HARBOR_HOST": {{env.HARBOR_HOST}},
      "QS_ACCESS": {{env.QS_ACCESS}},
      "QS_SECRET": {{env.QS_SECRET}},
      "QS_BUCKET": {{env.QS_BUCKET}},
      "QS_ZONE": {{env.QS_ZONE}},
      "QS_URL": {{env.QS_URL}},
      "s3.url.used": {{env.s3.url.used}},
      "QS_ROOT_DIRECTORY": {{env.QS_ROOT_DIRECTORY}}
    }
  }],
  "health_check": {
    "enable": true,
    "interval_sec": 60,
    "timeout_sec": 10,
    "action_timeout_sec": 60,
    "healthy_threshold": 2,
    "unhealthy_threshold": 2,
    "check_cmd": "appctl check",
    "action_cmd": "appctl restart"
  }
}
