{{- $nodeRole := index (split (getv "/host/role") "_node") 0 }}

flush > /opt/app/current/bin/envs/node.env << NODE_ENV_FILE
NODE_CTL=all
MY_SID={{ getv "/host/sid" }}
MY_IP={{ getv "/host/ip" }}
MY_ROLE={{ $nodeRole }}
{{- if eq $nodeRole "log" }}
DATA_MOUNTS="/var/log/harbor"
SERVICES="\$SERVICES  nfs-server/{{ if len (ls "/hosts/job_node") }}true{{ else }}false{{ end }}/tcp:111 harbor/true/tcp:1514 "
{{- else if eq $nodeRole "storage" }}
SERVICES="\$SERVICES nfs-server/true/tcp:111"
DATA_MOUNTS="/data/registry"
{{- else if eq $nodeRole "cache" }}
SERVICES="\$SERVICES harbor/true/tcp:6379"
DATA_MOUNTS=""
{{- else if eq $nodeRole "db" }}
SERVICES="\$SERVICES harbor/true/tcp:5432"
DATA_MOUNTS="/data/database"
{{- else if eq $nodeRole "web" }}
SERVICES="\$SERVICES harbor/true/http:80"
{{- else if eq $nodeRole "job" }}
SERVICES="\$SERVICES harbor/true/http:8080"
{{- end }}

{{- range getvs "/host/role" | filter "web|job" }}
{{- range getvs "/hosts/storage_node/*/ip" }}
STORAGE_NODE_IP={{ . }}
{{- end }}
{{- range getvs "/hosts/log_node/*/ip" }}
LOG_NODE_IP={{ . }}
{{- end }}
{{- end }}
NODE_ENV_FILE
