{{- if eq $nodeRole "db" }}

encrypted=$(echo -n {{ getv "/cluster/user_id" }}{{ getv "/cluster/global_uuid" }} | sha256sum | base64)
dbPassword=${encrypted:16:16}

flush > /opt/app/current/conf/db/env << DB_ENV_FILE
POSTGRES_PASSWORD=$dbPassword
DB_ENV_FILE

{{- end }}