{{- if eq $nodeRole "db" }}

encrypted=$(echo -n {{ getv "/cluster/user_id" }}{{ getv "/cluster/global_uuid" }} | sha256sum | base64)
dbPassword=${encrypted:16:16}

flush > /opt/app/conf/db/env << DB_ENV_FILE
POSTGRES_PASSWORD=$dbPassword
DB_ENV_FILE



flush > /opt/app/bin/node/resetPassword.py << PY_ENV_FILE

#!/usr/bin/env python

#example  
#password     7055c709338844684a03afd47eb99eaf (1.7.1)  901e944c153438064a68712fef73c2dd (1.9.3)  --> Harbor12345                           
#salt         7t3s93zk7qhcg7lqx1xm9meega26ryte          ne4triv6j6f5074ei7q36nbqvd1ow5pz


#py-postgresql
import postgresql

{{ range getvs "/hosts/db_node/*/ip" }}
#connect db
db=postgresql.open('pq://postgres:${dbPassword}@{{ . }}:5432/registry') 
#update key
db.execute("update harbor_user set password='901e944c153438064a68712fef73c2dd',salt='ne4triv6j6f5074ei7q36nbqvd1ow5pz' where username='admin';")
{{ end }}

PY_ENV_FILE

{{- end }}