{{- range getvs "/host/role" | filter "web|job" }}

encrypted=$(echo -n {{ getv "/cluster/cluster_id" }}{{ getv "/cluster/global_uuid" }} | sha256sum | base64)
coreSecret=${encrypted:0:16}
jobSecret=${encrypted:16:16}
encrypted=$(echo -n {{ getv "/cluster/user_id" }}{{ getv "/cluster/global_uuid" }} | sha256sum | base64)
redisPassword=${encrypted:0:16}
dbPassword=${encrypted:16:16}

flush > /opt/app/conf/core/env << CORE_ENV_FILE
CORE_SECRET=$coreSecret
JOBSERVICE_SECRET=$jobSecret
_REDIS_URL=redis:6379,100,$redisPassword
_REDIS_URL_REG=redis://anonymous:${redisPassword}@redis:6379/1

CONFIG_PATH=/etc/core/app.conf
UAA_CA_ROOT=/etc/core/certificates/uaa_ca.pem
SYNC_REGISTRY=false
SYNC_QUOTA={{- if eq $nodeRole "job" }}false{{ else }}True{{- end }}
CHART_CACHE_DRIVER=redis

PORT=8080
LOG_LEVEL=info
EXT_ENDPOINT={{ getv "/env/HARBOR_HOST" }}
DATABASE_TYPE=postgresql
POSTGRESQL_HOST=postgresql
POSTGRESQL_PORT=5432
POSTGRESQL_USERNAME=postgres
POSTGRESQL_PASSWORD=$dbPassword
POSTGRESQL_DATABASE=registry
POSTGRESQL_SSLMODE=disable
POSTGRESQL_MAX_IDLE_CONNS=50
POSTGRESQL_MAX_OPEN_CONNS=100
REGISTRY_URL=http://registry:5000
TOKEN_SERVICE_URL=http://core:8080/service/token
HARBOR_ADMIN_PASSWORD=Harbor12345
MAX_JOB_WORKERS=10
ADMIRAL_URL=
WITH_NOTARY=False
WITH_CLAIR=False
CLAIR_DB_PASSWORD=
CLAIR_DB_HOST=
CLAIR_DB_PORT=
CLAIR_DB_USERNAME=
CLAIR_DB=
CLAIR_DB_SSLMODE=
CORE_URL=http://core:8080
CORE_LOCAL_URL=http://127.0.0.1:8080
JOBSERVICE_URL=http://jobservice:8080
CLAIR_URL=http://clair:6060
NOTARY_URL=http://notary-server:4443
REGISTRY_STORAGE_PROVIDER_NAME={{ if len (ls "/hosts/storage_node") }}filesystem{{ else }}s3{{ end }}
READ_ONLY=false
RELOAD_KEY=
CHART_REPOSITORY_URL=http://chartmuseum:9999
REGISTRY_CONTROLLER_URL=http://registryctl:8080
WITH_CHARTMUSEUM=True

HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=127.0.0.1,localhost,.local,.internal,log,db,redis,nginx,core,portal,postgresql,jobservice,registry,registryctl,clair
CORE_ENV_FILE
{{- end }}
