{{- if eq $nodeRole "job" }}

encrypted=$(echo -n {{ getv "/cluster/cluster_id" }}{{ getv "/cluster/global_uuid" }} | sha256sum | base64)
coreSecret=${encrypted:0:16}
jobSecret=${encrypted:16:16}

encrypted=$(echo -n {{ getv "/cluster/user_id" }}{{ getv "/cluster/global_uuid" }} | sha256sum | base64)
registryPassword=${encrypted:32:16}

flush > /opt/app/current/conf/jobservice/env << JOBSERVICE_ENV_FILE
CORE_SECRET=$coreSecret
REGISTRY_URL=http://registry:5000
JOBSERVICE_SECRET=$jobSecret
CORE_URL=http://core:8080
REGISTRY_CONTROLLER_URL=http://registryctl:8080
JOBSERVICE_WEBHOOK_JOB_MAX_RETRY=10


HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=log,127.0.0.1,core,exporter,postgresql,.internal,db,portal,.local,registry,notary-server,chartmuseum,notary-signer,trivy-adapter,redis,jobservice,registryctl,localhost,nginx
REGISTRY_CREDENTIAL_USERNAME=harbor_registry_user
REGISTRY_CREDENTIAL_PASSWORD=$registryPassword
JOBSERVICE_ENV_FILE
METRIC_NAMESPACE=harbor
METRIC_SUBSYSTEM=jobservice
chown 10000:10000 /opt/app/current/conf/jobservice/env
{{- end }}
