{{- if eq $nodeRole "storage" }}
exportsDir=/opt/app/conf/nfs-server
flush > $exportsDir/exports << EXPORTS_FILE
/data/registry	{{ range ls "/hosts" | filter "(web|job)_node" }}{{ range getvs (printf "/hosts/%s/*/ip" .) }}{{ . }}(rw,sync,no_root_squash,no_subtree_check) {{ end }}{{ end }}
EXPORTS_FILE
{{- end }}


{{- if eq $nodeRole "log" }}
flush > /opt/app/conf/nfs-server/exports << LOG_EXPORTS_ENV
/var/log/harbor/job_logs {{ range getvs "/hosts/job_node/*/ip" }}{{ . }}(rw,sync,no_root_squash,no_subtree_check)  {{ end }}
LOG_EXPORTS_ENV
{{- end }}
