{{- range getvs "/host/role" | filter "web|job" }}
encrypted=$(echo -n {{ getv "/cluster/cluster_id" }}{{ getv "/cluster/user_id" }} | sha256sum | base64)
echo -n ${encrypted:0:16} > /data/secret/keys/secretkey

chown 10000:10000 /data/secret/keys/secretkey
chmod 0600 /data/secret/keys/secretkey
{{- end }}
