cat > /opt/app/current/conf/docker-compose.yml << DOCKER_COMPOSE_FILE
version: '2.3'
services:
  {{- if eq $nodeRole "log" }}
  log:
    image: goharbor/harbor-log:\$HARBOR_VERSION
    container_name: harbor-log
    restart: always
    dns_search: .
    healthcheck:
      test: netstat -ltun | grep 10514
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - DAC_OVERRIDE
      - SETGID
      - SETUID
    volumes:
      - /var/log/harbor/:/var/log/docker/:z
      - type: bind
        source: ./log/logrotate.conf
        target: /etc/logrotate.d/logrotate.conf
      - type: bind
        source: ./log/rsyslog_docker.conf
        target: /etc/rsyslog.d/rsyslog_docker.conf
    ports:
      - 1514:10514
    networks:
      - harbor
    logging:
      driver: "syslog"
      options:
        tag: "harbor.log"
  {{- end }}
  {{- if eq $nodeRole "db" }}
  postgresql:
    image: goharbor/harbor-db:\$HARBOR_VERSION
    container_name: harbor-db
    restart: always
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - DAC_OVERRIDE
      - SETGID
      - SETUID
    volumes:
      - /data/database/harbor-\$HARBOR_VERSION:/var/lib/postgresql/data:z
    networks:
      harbor:
    ports:
      - 5432:5432
    dns_search: .
    env_file:
      - ./db/env
    logging:
      driver: "syslog"
      options:
        syslog-address: "tcp://log:1514"
        tag: "db.postgresql"
  {{- end }}
networks:
  harbor:
    external: false
    ipam:
      driver: default
      config:
        - subnet: 172.18.0.0/16
DOCKER_COMPOSE_FILE
