{{- range getvs "/host/role" | filter "web|job" }}

xsrfKey=$(echo -n {{ getv "/cluster/cluster_id" }}{{ getv "/cluster/global_uuid" }} | sha1sum | base64)

flush > /opt/app/conf/core/app.conf << APP_CONF_EOF
appname = Harbor
runmode = dev
enablegzip = true

[dev]
httpport = 8080
EnableXSRF = true
XSRFKey = ${xsrfKey:0:40}
XSRFExpire = 3600
APP_CONF_EOF

{{- end }}