{{- range getvs "/host/role" | filter "web|job" }}

{{- range getvs "/hosts/web_node/*/token" }}
serviceKeys="{{ . }}"
{{- end }}

flush > /data/secret/core/private_key.pem << PRIVATE_KEY_EOF
$(echo $serviceKeys | cut -d' ' -f1 | base64 --decode)
PRIVATE_KEY_EOF

{{- end }}