
{{- if eq $nodeRole "log" }}

echo "/var/log/harbor/job_logs {{ range getvs "/hosts/job_node/*/ip" }}{{ . }}{{ end }}(rw,sync,no_root_squash,no_subtree_check)" >> /etc/exports
systemctl unmask nfs-server; systemctl restart nfs-server
{{- end }}

{{- if eq $nodeRole "job" }}

mount  {{ range getvs "/hosts/log_node/*/ip" }}{{ . }}{{ end }}:/var/log/harbor/job_logs    /data/job_logs 
{{- end }}
